body {
  background-color: #fafafa;
  overflow-x: hidden;

  font-family: sans-serif;
}

:global #root {
  margin-top: 46px;
}

*:focus {
  outline: none;
  box-shadow: none !important;
}

button {
  cursor: pointer;

  outline: none !important;
}
