.root {
  margin: 0;
  max-height: 165px;
  position: absolute;
  width: 100%;
  z-index: 1;

  border-radius: 4px;
  box-shadow: 0 6px 14px -2px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.hidden {
  composes: root;

  display: none;
}
